# Requirements for the PDF processing and NLP API

# Web Framework to create the API
fastapi

# ASGI server to run FastAPI
uvicorn

# Required by FastAPI for file uploads
python-multipart

# For PDF text extraction
PyMuPDF

# For language detection
langdetect

# For making HTTP requests to external services
requests

# For NLP tasks
# Installation: python -m spacy download de_dep_news_trf
spacy

# Document Structuring Library (with all local PDF processing dependencies)
unstructured[local-inference]

# tesseract for OCR
pytesseract
# Installation: https://digi.bib.uni-mannheim.de/tesseract/
# Umgebungsvariable: TESSDATA_PREFIX = C:\Users\info\AppData\Local\Programs\Tesseract-OCR